@import "bootstrap/scss/bootstrap";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff;
}

a {
  color: #337ab7;
  text-decoration: none;
}

article h2 {
  font-family: "Roboto Slab";
  font-weight: 400;
}

article {
  font-family: Roboto;
  font-weight: 300;
  font-size: 120%;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-sm-offset-2 {
  margin-left: 16.6666666667%;
}

.col-sm-8 {
  width: 66.6666666667%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-collapse.collapse {
  display: block !important;
  height: auto !important;
  overflow: visible !important;
}

.navbar-right {
  float: right !important;
  margin-right: -15px;
}

.navbar > li {
  float: left;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li {
  position: relative;
  display: block;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
